*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle.properties
gradlew*
settings.gradle
js
KimSangHyeok-server
html
home
trainer
AppleWallet
/app
.idea
gradle
build.gradle
/android
/AndroidStudio*
/config/configstore
gradle*
.bable.json
.bash_history
.emulator*
*gradle